@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas.eot");
	src: url("../fonts/bebas.eot?#iefix")format("embedded-opentype"),
	url("../fonts/bebas.woff") format("woff"),
	url("../fonts/bebas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal; }

.navbar{
	border:none;
	margin-bottom: 0;
	z-index: 1;
}

.nav>li>a:hover,
.nav>li>a:focus{
	background: #fff;
}
.container{
	background: #fff;
	position: relative;
	z-index: 2;
}
.navbar:before{
	position: absolute;
	width: 100%;
	height: 60px;
	top: 100%;
	background: #f2ae9c;
}
.navbar>.container .navbar-brand{
	font:36px "Bebas",Arial, Helvetica, sans-serif;
	line-height: 78px;
	height: 78px;
	padding: 0;
	color: #e8603c;
	text-transform: uppercase;
	font-weight: bold;
	margin-left:0;
}

.navbar .navbar-brand .jet-light{
	color: #f2ae9c;
}
.navbar .navbar-brand:hover{
	color: #f2ae9c;
}
.navbar .navbar-brand:hover .jet-light{
	color:#e8603c;
}

.icon-bar{
	background-color:#e8603c;
}
.navbar .navbar-nav> li> a{
	padding-top: 4px;
	padding-bottom: 0;
	color: #b9b9b9;
	font: 16px/78px "Bebas",Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	padding-right: 0;
	padding-left: 25px;
	word-spacing: 3px;
	margin-bottom: -4px;
}
.navbar .navbar-nav> li:nth-child(2)> a{
	padding-left: 27px;

}
.navbar .navbar-nav> li:nth-child(3)> a{
	padding-right: 5px;
}
.navbar .navbar-nav> li:first-child a{
	padding-left: 33px;
}
.navbar .navbar-nav> li> a:hover{
	background: none;
	color:#e8603c;
}
.navbar .navbar-nav> li> a:hover span{
	color: #f2ae9c;
}
.jet-images img{
	 width: 100%;
 }

.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
	width: 100%;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
	font-size: 50px;
	text-shadow: none;
	top:40%;
}
.carousel-control .glyphicon-chevron-right{
	right:50%;

}
.carousel-control .glyphicon-chevron-left{
	left: 35%;
}
.carousel-caption{
	color: #fff;
	background-color: rgba(232, 102, 60, 0.80);
	position: absolute;
	max-width: 430px;
	left: 4%;
	right: 52%;
	bottom: 27px;
	padding-left: 19px;
	padding-top:22px;
	padding-bottom: 22px;
	text-align: left;
	text-shadow: none;
}
.carousel-caption h2{
	padding-bottom: 17px;
	margin:0;
	font:18px "Bebas",Arial, Helvetica, sans-serif;
}
.carousel-caption p{
	padding: 0;
	margin: 0;
	font:12px Helvetica, Arial,  sans-serif;
}

.jet-images{
	margin-top:17px;
}
.jet-images img{
	cursor: pointer;
}


.jet-info{
	padding-bottom: 45px;
}
.jet-info .container{
	margin-top: 40px;
}
.jet-info-header svg{
	float: left;
	width:46px;
	height: 46px;
	margin-bottom: 37px;
}
.jet-info-header img{
	float: left;
	width:46px;
	height: 46px;
	margin-bottom: 37px;
}
.jet-info-header h2{
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 1.333;

	margin-left: 74px;
	text-transform: uppercase;
	font-weight: 200;
}
.jet-info-header h2 a{
	color: #e8663c;
	text-decoration: none;
}
.jet-info p{
	clear: both;
	margin-bottom: 20px;
}
.btn{
	background-color: #ff6633;
	color:#fff;
	text-transform: uppercase;
	width: 70px;
	height: 31px;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	transition: color .5s;
}

.jet-works{
	padding-bottom: 48px;
	z-index: 1;
	position: relative;
}
.jet-works h2{
	background: url("../img/line.png") no-repeat;
	background-size: cover;
	padding-right: 20px;
	color:#ff6633;
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	margin-bottom: 24px;

}
.jet-works h2 span{
	background-color: #fff;
	padding-right: 20px;
	word-spacing: 5px;
}
.jet-works-caption{
	border:1px solid #dbdbdb;
	border-top: none;
	padding: 13px 0 10px 14px;
}
.jet-works-caption h3:hover a{
	color:#ff6633;
}
.jet-works-caption h3{
	font: 16px/1.125 "Bebas", Arial, Helvetica, sans-serif;
	color: #b9b9b9;
}
.jet-works-caption h3 a{
	color: #b9b9b9;
	text-decoration: none;
	transition: color .3s;
}
.jet-works-caption p{
	text-transform: uppercase;
	font: 11px/1.63 "Bebas", Arial, Helvetica, sans-serif;
	color: #e8663c;
}
.jet-works img{
	width:100%;
}
.jet-footer{
	background: #f2ae9c;
}
.jet-footer .container{
	background-color: #e8663c;
	border:10px solid #fff;
	border-top:none;
	border-bottom: none;
	padding:37px 10px 30px 35px;
	color:#fff;
}
.jet-footer [class*="col-"] {
	padding-right: 60px;
}
.jet-footer .container h2{
	font: 20px "Bebas", Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
	color: #fff;
}
.jet-footer .container a:hover{
	text-decoration: none;
}
.jet-footer .container a:visited{
	text-decoration: none;
}
.jet-footer .container p{
	font: 12px Helvetica, sans-serif;
}
.jet-social-networks a{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.jet-footer span{
	color: rgba(255, 255, 255, 0.5);
	transition: color .5s;
}

.jet-footer span a{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
.jet-footer span a:hover{
	color:#fff;
}
.jet-twitter-time{
	display: inline-block;
	padding-top: 10px;
}






/*ABOUT US*/
.jet-title{
	height: 60px;
	margin-bottom: 30px;

}
.jet-title h1{
	background-color: #e8663c;
	color: #fff;
	font: 24px "Bebas", Arial, Helvetica ,sans-serif;
	height: 60px;
	line-height: 60px;
	margin-top: 0;
	word-spacing: 3px;
	padding-left: 18px;
	}

/*Main Section of About US*/
.jet-about p {
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	color: #333;
	margin-bottom: 20px;
}
.jet-about .col-md-9{
	padding-right: 60px;
}
.jet-about .col-md-9 img{
	float:left;
	padding: 2px;
	border: 1px solid #ccc;
	margin-right:22px;
}
.jet-about blockquote{
	border-left: none;
	margin-left: 61px;
}
.jet-about blockquote p{
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #717171;
	border-left: 8px solid #e8663c;
	padding-left: 19px;
}

.jet-first-letter:first-letter{
	font: 36px Helvetica, Arial, sans-serif;
	font-weight: bold;
	float: left;
	color:#ff6633;
	padding: 0 5px 0 0;
	line-height: 1;
}
.alert{
	font:14px Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: italic;

}
.alert-success{
	border:1px solid #98c601;
	color: #98c601;
	background-color: #effeb9;

}
.alert-danger{
	border:1px solid #eb5439;
	color:#eb5439;
	background-color: #fbcbc1;
}
.alert-warning{
	border:1px solid #fab418;
	color:#fab418;
	background-color: #ffe9ad;
}
.alert-info{
	border:1px solid #4d8fcb;
	color: #4d8fcb;
	background-color: #d1e4f3;
}

/*Left aside of About US*/
.jet-side-section{
	padding-bottom: 35px;
}
.jet-side-section .jet-side-categories{
	font:14px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	background: url('../img/line-bg.png')repeat-x 50% 50%;
	height: 15px;
	margin-bottom: 15px;
	line-height: 14px;
}
.jet-side-categories span {
	padding: 0 18px 0 0;
	background: #fff;
}
.jet-side-section p{
	font:12px/1.3   Helvetica, Arial, sans-serif;
}
.jet-side-section a{
	text-decoration: none;
	color: #464646;
}
.jet-side-section li:hover a{
	color:#e8603c;
}
.jet-side-section img{
	width:100%;
}
.jet-side-section [class*="col-"] {
	margin-bottom: 5px;
}




/*PORTFOLIO*/
.jet-portfolio{
	padding-bottom: 45px;
}
.jet-portfolio img{
	width:100%;
}
.btn-group>.btn{
	float: none;
	color: #b9b9b9;
	background-color:#fff;
	font:14px/1.7 "Bebas", Arial, Helvetica, sans-serif;
	height: auto;
	width: auto;
	border:none;
	margin-bottom: 35px;
}
.btn-group>.btn.jet-button-active{
	background-color: #e8663c;
	color:#fff;
}

.jet-portfolio [class*="col-"] {
	margin-bottom: 41px;
}
.jet-portfolio-desc{
	padding-top: 3px;
	padding-left: 12px;
	border: 1px solid #dbdbdb;
	border-top: none;
}
.jet-portfolio .jet-portfolio-desc h2{
	font:16px/1.125 "Bebas", Arial, Helvetica, sans-serif;
	color: #b9b9b9;
}
.jet-portfolio .jet-portfolio-desc p{
	font:11px/1.6 "Bebas", Arial, Helvetica, sans-serif;
	color: #e8663c;
}
.jet-portfolio-item {
	position: relative;
	display: block;
}
.jet-shutter{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	visibility: hidden;
	cursor: pointer;
}
.jet-portfolio-plus {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	cursor: pointer;
	background: url('../img/plus.png') 50% 50% no-repeat;
	opacity: .7;
}
.jet-portfolio-item:hover .jet-shutter,
.jet-portfolio-item:hover .jet-portfolio-plus {
	visibility: visible;
}


/*CONTACT US*/
.embed-responsive-item{
	padding-bottom: 36px;
}
.jet-contact .col-md-5 p{
	font:12px/1.2 Helvetica, Arial, sans-serif;
}
.jet-red-text {
	color: #e8603c;
}
.jet-form {
	padding-right: 10px;
	padding-bottom: 37px;
}
.jet-form-field {
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	border: 1px solid #e8603c;
	color: #e8603c;
	padding: 10px 13px;
	margin-bottom: 10px;
	line-height: 2.3;

}
.jet-form input {
	width: 100%;
	margin-left: 10px;
}
input[type="text"]::-webkit-input-placeholder{
	color: #e8603c;
}
input[type="text"]::-moz-placeholder {
	color: #e8603c;
}
input[type="text"]:-ms-input-placeholder {
	color: #e8603c;
}
input[type="email"]::-webkit-input-placeholder {
	color: #e8603c;
}
input[type="email"]::-moz-placeholder {
	color: #e8603c;
}
input[type="email"]:-ms-input-placeholder {
	color: #e8603c;
}
textarea {
	width: 100%;
	margin-left: 10px;
}
textarea::-webkit-input-placeholder {
	color:#e8603c !important;
}
textarea::-moz-placeholder {
	color:#e8603c !important;
}
textarea:-ms-input-placeholder {
	color:#e8603c !important;
}
.jet-form .btn {
	background: #e8603c;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	border: 1px solid #e8603c;
	transition: color .5s, background .5s;
	margin-left: 10px;
}
.jet-form .btn:hover {
	color: #e8603c;
	background: #fff;
}



/*BLOG*/
.jet-blog-items {
	position: relative;
	margin-bottom: 70px;
}
.jet-blog-items .row {
	margin-top: 24px;
}
.jet-blog-items p {
	font-size: 12px;
	/*font-family: "Bebas", Arial, Helvetica, sans-serif;*/
	/*text-transform: lowercase;*/
}
.jet-blog-items h4 {
	font: 14px "Bebas", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0 0 10px;
	color:#e8603c;
	font-weight: 500;
}
.jet-blog-items h2 {
	font: 18px/1 "Bebas", Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color:#e8603c;
	margin-top: 0;
}

.jet-blog-items.jet-icon-link a {
	color: #bebebe;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}
.jet-blog-items.jet-icon-link a:hover {
	color: #e8603c;
}
.jet-blog-items.jet-icon-link p {
	padding-bottom: 45px;
}
.jet-blog-items .jet-date-emphasise {
	color: #bebebe;
	margin-bottom: 18px;
}
.jet-blog-items.jet-icon-quote {
	padding-bottom: 54px;
}
.jet-blog-items:before {
	content: '';
	position: absolute;
	width: 76px;
	height: 76px;
	left: 0;
	top: 0;
	transform: translateX(-114%);
	background-color: #e8603c;
	z-index: 10;
}
.jet-icon-text img{
	width:100%;
}


/*BLOG ICONS*/

.jet-icon-slider.jet-blog-items:before {
	background-image: url("../img/blog-icon-slider.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jet-icon-text.jet-blog-items:before {
	background-image: url("../img/blog-icon-text.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jet-icon-video.jet-blog-items:before {
	background-image: url("../img/blog-icon-video.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jet-icon-quote.jet-blog-items:before {
	background-image: url("../img/blog-icon-quote.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jet-icon-link.jet-blog-items:before {
	background-image: url("../img/blog-icon-link.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jet-blog-items:after {
	content: '';
	width: 100%;
	position: absolute;
	height: 15px;
	background-image: url("../img/line-bg.png");
	top: 100%;
	left: 0;
	right: 0;
}

.jet-icon-quote blockquote {
	font-style: italic;
	padding: 20px 30px 18px 75px;
	margin-left: 0;
	margin-bottom: 0;
	border-left: none;
	background: #f5f5f5;
	font-size: 13px;
	position: relative;
}
.jet-icon-quote blockquote:before {
	content: '';
	position: absolute;
	background-image: url("../img/blog-icon-quote-red.png");
	left: 0;
	top: 0;
	width: 76px;
	height: 76px;
	background-position: 50% 40%;
	background-repeat: no-repeat;
}
.pagination {
	margin: 0;
	margin-bottom: 30px;
}
.pagination li a {
	font: 14px/26px "Bebas", Arial, Helvetica, sans-serif;
	width: 26px;
	height: 26px;
	border: none;
	text-align: center;
	margin-right: 5px;
	padding: 0;
}
.pagination>li>a:hover,
.pagination>li>a:focus {
	color: #e8603c;
}
.pagination .active {
	background: #e8603c;
	color: #fff;
}
.pagination .disabled {
	background: #f3b29d;
	color: #fff;
}



/*PORTFOLIO ITEM*/
.jet-portfolio-post img{
	width: 100%;
	margin-bottom: 25px;
}
.jet-portfolio-post p{
	font: 12px/1.5 Helvetica, Arial, sans-serif;
}
.jet-portfolio-post p+p{
	margin-bottom: 50px;
}