@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas.eot");
	src: url("../fonts/bebas.eot?#iefix")format("embedded-opentype"),
	url("../fonts/bebas.woff") format("woff"),
	url("../fonts/bebas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal; }

.navbar{
	border:none;
	margin-bottom: 0;
	z-index: 1;
}

.nav>li>a:hover,
.nav>li>a:focus{
	background: #fff;
}
.container{
	background: #fff;
	position: relative;
	z-index: 2;
}
.navbar:before{
	position: absolute;
	width: 100%;
	height: 60px;
	top: 100%;
	background: #f2ae9c;
}
.navbar>.container .navbar-brand{
	font:36px "Bebas",Arial, Helvetica, sans-serif;
	line-height: 78px;
	height: 78px;
	padding: 0;
	color: #e8603c;
	text-transform: uppercase;
	font-weight: bold;
	margin-left:0;
}

.navbar .navbar-brand .jet-light{
	color: #f2ae9c;
}
.navbar .navbar-brand:hover{
	color: #f2ae9c;
}
.navbar .navbar-brand:hover .jet-light{
	color:#e8603c;
}

.icon-bar{
	background-color:#e8603c;
}
.navbar .navbar-nav> li> a{
	padding-top: 0;
	padding-bottom: 0;
	color: #b9b9b9;
	font: 16px/78px "Bebas",Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	padding-right: 0;
	padding-left: 25px;
	word-spacing: 3px;
}
.navbar .navbar-nav> li> a:hover{
	background: none;
	color:#e8603c;
}
.navbar .navbar-nav> li> a:hover span{
	color: #f2ae9c;
}
.jet-images img{
	 width: 100%;
 }

.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
	width: 100%;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
	font-size: 50px;
	text-shadow: none;
	top:40%;
}
.carousel-control .glyphicon-chevron-right{
	right:50%;

}
.carousel-control .glyphicon-chevron-left{
	left: 35%;
}
.carousel-caption{
	color: #fff;
	background-color: rgba(232, 102, 60, 0.80);
	position: absolute;
	max-width: 430px;
	left: 4%;
	right: 52%;
	bottom: 20px;
	padding-left: 19px;
	padding-top:21px;
	padding-bottom: 24px;
	text-align: left;
	text-shadow: none;
}
.carousel-caption h2{
	padding-bottom: 20px;
	margin:0;
	font:18px "Bebas",Arial, Helvetica, sans-serif;
}
.carousel-caption p{
	padding: 0;
	margin: 0;
	font:12px Helvetica, Arial,  sans-serif;
}

.jet-images{
	margin-top:17px;
}
.jet-images img{
	cursor: pointer;
}


.jet-info{
	padding-bottom: 45px;
}
.jet-info .container{
	margin-top: 40px;
}
.jet-info-header svg{
	float: left;
	width:46px;
	height: 46px;
	margin-bottom: 37px;
}
/*.jet-info-header:hover svg{
	fill:#f2ae9c;
}*/
.jet-info-header h2{
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 1.333;

	margin-left: 74px;
	text-transform: uppercase;
	font-weight: 200;
}
.jet-info-header h2 a{
	color: #e8663c;
	text-decoration: none;
}
.jet-info p{
	clear: both;
	margin-bottom: 20px;
}
.btn{
	background-color: #ff6633;
	color:#fff;
	text-transform: uppercase;
	width: 70px;
	height: 31px;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	transition: color .5s;
}




.jet-works{
	padding-bottom: 48px;
	z-index: 1;
	position: relative;
}
.jet-works h2{
	background: url("../img/line.png") no-repeat;
	background-size: cover;
	padding-right: 20px;
	color:#ff6633;
	font: 18px "Bebas", Arial, Helvetica, sans-serif;
	margin-bottom: 24px;

}
.jet-works h2 span{
	background-color: #fff;
	padding-right: 20px;
}
.jet-works-caption{
	border:1px solid #dbdbdb;
	border-top: none;
	padding: 13px 0 10px 14px;
}
.jet-works-caption h3:hover a{
	color:#ff6633;
}
.jet-works-caption h3{
	font: 16px/1.125 "Bebas", Arial, Helvetica, sans-serif;
	color: #b9b9b9;
}
.jet-works-caption h3 a{
	color: #b9b9b9;
	text-decoration: none;
	transition: color .3s;
}
.jet-works-caption p{
	text-transform: uppercase;
	font: 11px/1.63 "Bebas", Arial, Helvetica, sans-serif;
	color: #e8663c;
}
.jet-works img{
	width:100%;
}
.jet-footer{
	background: #f2ae9c;
}
.jet-footer .container{
	background-color: #e8663c;
	border:10px solid #fff;
	border-top:none;
	border-bottom: none;
	padding:37px 10px 30px 35px;
	color:#fff;
}
.jet-footer [class*="col-"] {
	padding-right: 60px;
}
.jet-footer .container h2{
	font: 20px "Bebas", Arial, Helvetica, sans-serif;
	margin-bottom: 25px;
	color: #fff;
}
.jet-footer .container a:hover{
	text-decoration: none;
}
.jet-footer .container a:visited{
	text-decoration: none;
}
.jet-footer .container p{
	font: 12px Helvetica, sans-serif;
}
.jet-social-networks a{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.jet-footer span{
	color: rgba(255, 255, 255, 0.5);
	transition: color .5s;
}

.jet-footer span a{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
.jet-footer span a:hover{
	color:#fff;
}
.jet-twitter-time{
	display: inline-block;
	padding-top: 10px;
}






/*ABOUT US*/
.jet-title{
	height: 60px;
	margin-bottom: 30px;

}
.jet-title h1{
	background-color: #e8663c;
	color: #fff;
	font: 24px "Bebas", Arial, Helvetica ,sans-serif;
	height: 60px;
	line-height: 60px;
	margin-top: 0;
	word-spacing: 3px;
	padding-left: 18px;
	}

/*Main Section of About US*/
.jet-about p {
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	color: #333;
	margin-bottom: 20px;
}
.jet-about .col-md-9{
	padding-right: 60px;
}
.jet-about .col-md-9 img{
	float:left;
	padding: 2px;
	border: 1px solid #ccc;
	margin-right:22px;
}
.jet-about blockquote{
	border-left: none;
	margin-left: 61px;
}
.jet-about blockquote p{
	font: 12px/1.5 Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #717171;
	border-left: 8px solid #e8663c;
	padding-left: 19px;
}

.jet-first-letter:first-letter{
	font: 36px Helvetica, Arial, sans-serif;
	font-weight: bold;
	float: left;
	color:#ff6633;
	padding: 0 5px 0 0;
	line-height: 1;
}
.alert{
	font:14px Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: italic;

}
.alert-success{
	border:1px solid #98c601;
	color: #98c601;
	background-color: #effeb9;

}
.alert-danger{
	border:1px solid #eb5439;
	color:#eb5439;
	background-color: #fbcbc1;
}
.alert-warning{
	border:1px solid #fab418;
	color:#fab418;
	background-color: #ffe9ad;
}
.alert-info{
	border:1px solid #4d8fcb;
	color: #4d8fcb;
	background-color: #d1e4f3;
}

/*Left aside of About US*/
.jet-side-section{
	padding-bottom: 35px;
}
.jet-side-section .jet-side-categories{
	font:14px "Bebas", Arial, Helvetica, sans-serif;
	color: #e8603c;
	background: url('../img/line-bg.png')repeat-x 50% 50%;
	height: 15px;
	margin-bottom: 15px;
	line-height: 14px;
}
.jet-side-categories span {
	padding: 0 18px 0 0;
	background: #fff;
}
.jet-side-section p{
	font:12px/1.3   Helvetica, Arial, sans-serif;
}
.jet-side-section a{
	text-decoration: none;
	color: #464646;
}
.jet-side-section li:hover a{
	color:#e8603c;
}
.jet-side-section img{
	width:100%;
}
.jet-about .row + .row{
	margin-top:5px;
}

